body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.member-list {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.member-details:nth-child(even) {
  background-color: #eee;
}

.member-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.member-details.is-liked {
  background-color: #FFFFCC;
}

.member-details__container {
  margin-left: 20px;
}

.member-details__photo {
  height: 125px;
}

.member-details__name {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.member-details__role {
  font-size: 15px;
  font-weight: normal;
}

.member-details__description {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.member-list > li {
  list-style: none;
}

.like-btn {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Bot%C3%B3n_Me_gusta.svg/200px-Bot%C3%B3n_Me_gusta.svg.png');


}
